/* Base styles
========================================================================== */
html {
	font-size: $base-font-size;
}
body {
	background: #fff url(../images/background.png) repeat left top;
	color: #444;
	font-family: $body-font;
	font-size: $base-font-size;
	line-height: 1.6;
	margin: 0;
	padding: 0;
}

/* Division Bar
========================================================================== */
.division-topbar .wrapper {
	max-width: $break-xlarge;
}
.division-topbar .uiowa {
	width: 177px;
}


/* Layout
========================================================================== */
.container {
	margin: 0 auto;
	max-width: $break-xlarge;
	padding: 0 1em;
	position: relative;
	@media screen and (min-width: $break-medium) {
		padding: 0 2em;
	}
}
.main-bg {
	@media screen and (min-width: $break-medium) {
		background: rgba(255,255,255,0.5) url(../images/-image.jpg) no-repeat center top;
		border-bottom: 5px solid $yellow;
		height: 665px;
		position: absolute;
		width: 100%;
	}
}
.content-wrapper {
	background: #fff;
	padding: 0;
	@media screen and (min-width: $break-medium) {
		background: #fafafa;
	}
	@media screen and (min-width: $break-xlarge) {
		margin-left: auto;
		margin-right: auto;
	}
}
.content-wrapper.staff {
	//background-color: #fff;
}
.main-content, .sec-content {
	@media screen and (min-width: $break-medium) {
		float: left;
	}
}
.main-content {
	padding: 0 1em;
	@media screen and (min-width: $break-medium) {
		background: #fafafa repeat-y left top;
		background-size: 100%; 
		border-right: 1px solid #ddd;
		min-height: 530px;
		width: 72%;
		position: relative;
		margin-top: -85px;
		padding: 2em 1.5em 3em 1em;
	}
}
.news .main-content {
	margin-top: 0;
}
.sec-content {
	padding: 0 1em;
	@media screen and (min-width: $break-medium) {
		background: #fafafa;
		border-left: 1px solid #ddd;
		margin-left: -1px;
		padding-bottom: 3em;
		width: 28%;
		padding-left: 0;

	}
}
.topics {
	xbackground: #fafafa;
	border-top: 1px solid #ddd;
	padding: 3em 0;
	position: relative;
}

.topics-news {
  background-color: $darkgray;
  -moz-box-shadow: inset 0 5px 20px -6px rgba(10, 10, 10, 0.6);
  -webkit-box-shadow: inset 0 5px 20px -6px rgba(10, 10, 10, 0.6);
  box-shadow: inset 0 5px 20px -6px rgba(10, 10, 10, 0.6);
  color: white;
  @media screen and (min-width: $break-medium) {
    min-height: 300px;
    /*border-top: 3px solid $gray; */
  }
  h1, h2, h3, h4 {
    color: white;
  }
  .container {}
}

/* Header
========================================================================== */
.header {
	background: rgba(255,255,255,0) url(../images/nav_green.png) repeat-x left bottom;
	position: relative;
}
.logo {
	color: #333;
	text-shadow: 0 1px 0 white;
	display: block;
	font-family: "proxima-nova-condensed",sans-serif;
	@include rem(29);
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1.1;
	margin: 0.5em 0 .2em 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	text-rendering: optimizelegibility;
	&:hover {
		text-decoration: none;
	}
	@media screen and (min-width: $break-small) {
		@include rem(41);
	}
	@media screen and (min-width: $break-xlarge) {
		@include rem(46);
		
	}
}
.rwd-break {
	@media screen and (min-width: 630px) {
		display: none;
	}
}

/* homepage specific nav colors */

.HomePage.header {
	background: rgba(22, 22, 22, 0.64) url(../images/nav_green.png) repeat-x left bottom;
}
.HomePage .logo {
	color: white;
	text-shadow: none;
	margin: 0;
}



.HomePage .nav-main a {
	@media screen and (min-width: $break-medium) {
		color: white;
		text-shadow: none;
	}

}

.HomePage .nav-main a:hover{
	color: $orange;
}


/* Breadcrumbs
========================================================================== */
.breadcrumbs {
	list-style: none;
	@include rem(12);
	margin: 0;
	padding: 13px 1em 10px 0;
	xborder-bottom: 1px solid #ddd;
}
.breadcrumbs li{ display: inline;}
.breadcrumbs li:after{ content: "\25B8"; display: inline-block; padding: 0 6px 0 10px;}
.breadcrumbs li:last-child:after{content: "";}


/* Modules
========================================================================== */
.mod {
	@include rem(14);
	line-height: 1.4;
	position: relative;
}
.mod li {
	margin-bottom: 1em;
}
.mod h3 {
	@include rem(21);
	margin-bottom: .8em;
	padding-bottom: 5px;
	text-transform: uppercase;
}
.mod-news small {
	display: block;
}
.mod a {
	color: #fff3d0;
}

aside .mod {
	margin-bottom: 1em;
	@media screen and (min-width: $break-medium) {
		padding: 15px 0 0 22px;
	}
	& a {
		color: $link-color;
	}
}

/* Photo + Faces Module */
.mod.photo {
	padding-top: 22px;
}
.mod.photo div {
	position: relative;
}
.mod.photo h3, .faces h3 {
	background: #333;
	background: rgba(0,0,0,.8);
	border: none;
	color: #fff;
	display: inline-block;
	font-weight: 300;
	margin: 0;
	padding: 10px;
	position: absolute;
	bottom: 20px;
	left: 0;
	z-index: 30;
}

/* Faces Module Addendum */
.faces h3  {
	bottom: 15%;
	
}

.mod h2 {
  font-size: 2em;
  border-bottom: 3px solid $yellow;
  margin-bottom: .8em;
  padding-bottom: 5px;
  
  
 
  
  @media screen and (min-width: $break-medium) {
    font-size: 3.2em;
    line-height: 27px;
  }
}

.mod {
	line-height: 1.4;
}

.mod-events h3{
	font-size: 2em; 
}
/* Justify Grid */
.grid-justify {
	xfont-size: 0.1px;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: justify;
	&:after {
		content: '';
		display: inline-block;
		width: 100%;
	}
	& .filler {
		height: 0;
		margin: 0;
	}
}
.grid-justify li {
	text-align: left;
	vertical-align: top;
	@media screen and (min-width: $break-small) {
		display: inline-block;
		width: 48%;
	}
}

/* Staff Page
========================================================================== */
.staff-title {
	clear: both;
}
.staff-list {
	font-size: 0.1px;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: justify;
}
.staff-list:after { /* http://www.barrelny.com/blog/text-align-justify-and-rwd/ */
	content: '';
	display: inline-block;
	width: 100%;
}
.staff-list li {
	@include rem(15);
	margin-bottom: 1em;
	vertical-align: top;
	text-align: left;
	@media screen and (min-width: $break-small) {
		display: inline-block;
		width: 48%;
	}
	@media screen and (min-width: $break-medium) {
		width: 23%;
	}
}
.staff-list .filler {
	height: 0;
	margin: 0;
}
.staff-img {
	width: 100%;
}
.staff-link {
	display: block;
	margin-bottom: .5em;
	position: relative;
}
.staff-link:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.staff-link:hover:before {
	border: 4px solid $yellow;
}
.staff-name {margin: 0;}
.staff-position {
	display: block;
}
.staff-name {
	margin: 0;
}


/* Blog
========================================================================== */
.tags {
	border-bottom: 1px solid #ddd;
	margin-top: -10px;
	padding-bottom: 12px;
	margin-bottom: 1.5em;
}
.post-link {
	margin: 1.5em 0;
}

/* Pagination */
.pagination {
	margin: 1em 0;
	text-align: center;
	& ul {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
		& li {
			display: inline;
		}
	}
}
.pagination a {
	color: #666;
	padding: 4px 12px;
	&:hover {
		background: #eee;
	}
}
.pagination .active a {
	background: #000;
	color: #fff;
}
.pagination .disabled a:hover {
	background: #fff;
}
/* Sidebar Blog Feeds */
.feed-nav {
	margin: 0;
	
}
.feed-nav li{
	list-style-type: none;
	border-bottom: 1px solid #ddd;  
	padding: 0.5em;
	margin: 0;
	
	&:hover {
		background: #efefef;
	}
}

.feed-nav .read-more{
	display: block;
	float: right;
	margin-top: 1em;
}

.feed-nav .posted-on {
	font-size: 0.8em;
}

.feed-nav a:hover {
	text-decoration: none;
}

.feed-nav a .posted-on{
	color: black;

}

.feed-nav .read-more:after{
	clear: both;
}

/* Img
========================================================================== */
.img-container {
	background-color: #000;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
	position: relative;
	xpadding-top: 25%;
	@media screen and (min-width: $break-medium) {
		height: 400px;
		padding-top: 0;
		//background-size: auto;
	}
	

}
.img-fifty {
	visibility: hidden;
	@media screen and (min-width: $break-medium) {
		//background: #ffffff;
		position: absolute;
		left: 0;
		width: 71%;
		height: 115%;
		top: 0;
		visibility: visible;
	}
	
}
.img-fifty-top {
	visibility: hidden;
	@media screen and (min-width: $break-medium) {
		//background: #ffffff;
		background: #FAFAFA repeat-y left top;
		background-size: 100%;
		position: absolute;
		left: 0;
		width: 50%;
		height: 85px;
		bottom: 0;
		visibility: visible;
	}
}
.news .img-fifty {
	top: 0;
}
/* event list CSS*/

.event-calendar-controls {
	padding-bottom: 2em; 
}

.innerBackground {
	background: rgba(0,0,0,0.72);
	padding: 10px 10px 17px 10px; 
	width: 100%;
}

.sInnerBground{
	background: rgba(0,0,0,0.72);
}

.eList{
	padding: 10px 10px 17px 10px; 
	width: 100%;
	display: block;
	background: rgba(0,0,0,0.72);
}

.event{
	padding: 10px 10px 17px 20px; 
	width: 100%;
	display: block;
	background: rgba(0,0,0,0.72);
}

.vevent {
	color: $gray;
	h1{
		color: #ffce39; 
		padding-bottom: 0px; 
	}
	h2{
		color: white; 
	}
	background: none; 
}

.mevent {
	color: $gray;
	h1{
		color: #ffce39; 
		padding-bottom: 0px; 
	}
	h2{
		color: white; 
	}

}



