.header{
	background: #222;
	a{
		color: white;
	}
	
}

@media screen and (min-width: 768px){
	.nav-main li:first-child{
		border: none;
	}
	.nav-main li{
		border: none;
	}
	.nav-main .active a:after, .nav-main a:hover:after, {
		border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #F89748 rgba(0, 0, 0, 0);
	}
	.header {
		background: #313131 url('../images/nav_green.png') repeat-x left bottom;
	}
	.nav-main .active a,.nav-main a:hover, .nav-main a:focus {
		background: url("../images/nav_hover.png") repeat-x left bottom;
	}
}

.event-list {

	a{
		padding: 10px;
		height: 200px;
		display: block;
		margin: 10px 0;
		
		position: relative;
	}
	a:hover{
		text-decoration: none;
	}
	a h3 {
		display: inline;
		font-size: 3em;
		color: #eee;
	}

	span.event-title{
		position: absolute; 
		top: 0;
	}
	span.event-dates{
		position: absolute; 
		bottom: 0;
		right: 0;
		background: rgba(#333, 0.4);
	}
	p{
		color: #eee;
	}

	a{
		color: white;
	}
}

